$font-color-normal: #333;
$main-color: #00913a;
$secondary-color: #c70019;
$color-white: #fff;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-semi-bold: 600;
$font-weight-bold: 700;
$font-weight-black: 800;
$font-size-p01: 24px;
$font-size-p02: 18px;
$font-size-p03: 16px;
$font-size-p01-tab: 22px;
$font-size-p02-tab: 16px;
$font-size-p03-tab: 14px;
$font-size-p01-sp: 20px;
$font-size-p02-sp: 14px;
$font-size-p03-sp: 12px;

/* ***************************************************************** 
*	Media Query
* ***************************************************************** */
$breakpoints: (
  sm: 460px, // モバイル
  md-sm: 679px, //  タブレットとモバイルの間幅
  md: 768px, // タブレットレイアウト縦
  lg-md: 880px, // タブレットレイアウト横 縦の間
  lg: 1024px, // タブレットレイアウト横
  xl: 1280px
);
@mixin min($breakpoint) {
  @media (min-width: #{map-get($breakpoints, $breakpoint)}) {
    @content;
  }
}

@mixin max($breakpoint) {
  @media (max-width: #{map-get($breakpoints, $breakpoint)}) {
    @content;
  }
}