$font-color-normal: #333;
$main-color: #00913a;
$secondary-color: #c70019;
$color-white: #fff;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-semi-bold: 600;
$font-weight-bold: 700;
$font-weight-black: 800;
$font-size-p01: 24px;
$font-size-p02: 18px;
$font-size-p03: 16px;