@charset "UTF-8";
/* ***************************************************************** 
*	Media Query
* ***************************************************************** */
/* ***************************************************************** 
*	下層ページ 説明セクション
* ***************************************************************** */
/* ***************************************************************** 
*	下層ページ ブログ
* ***************************************************************** */
#blog-contents .blog-object-01 {
  position: absolute;
  width: 48px;
  top: 5%;
  left: 0%;
}
@media (max-width: 768px) {
  #blog-contents .blog-object-01 {
    width: 40px;
  }
}
@media (max-width: 460px) {
  #blog-contents .blog-object-01 {
    width: 32px;
  }
}
#blog-contents .blog-object-02 {
  position: absolute;
  width: 220px;
  top: 5%;
  right: -12%;
}
@media (max-width: 768px) {
  #blog-contents .blog-object-02 {
    width: 144px;
    z-index: -10;
  }
}
@media (max-width: 460px) {
  #blog-contents .blog-object-02 {
    width: 104px;
  }
}
#blog-contents .blog-object-03 {
  position: absolute;
  width: 80px;
  top: 35%;
  left: 0%;
}
@media (max-width: 768px) {
  #blog-contents .blog-object-03 {
    width: 64px;
    z-index: -10;
  }
}
@media (max-width: 460px) {
  #blog-contents .blog-object-03 {
    width: 48px;
  }
}
#blog-contents .blog-object-04 {
  position: absolute;
  width: 80px;
  top: 65%;
  right: 0%;
}
@media (max-width: 768px) {
  #blog-contents .blog-object-04 {
    width: 64px;
    z-index: -10;
  }
}
@media (max-width: 460px) {
  #blog-contents .blog-object-04 {
    width: 48px;
  }
}
#blog-contents .blog-object-05 {
  position: absolute;
  width: 220px;
  bottom: -6%;
  left: -8%;
}
@media (max-width: 768px) {
  #blog-contents .blog-object-05 {
    width: 144px;
    left: -12%;
  }
}
@media (max-width: 460px) {
  #blog-contents .blog-object-05 {
    width: 104px;
  }
}
#blog-contents .blog-object-06 {
  position: absolute;
  width: 32px;
  bottom: -4%;
  right: 0%;
}
@media (max-width: 768px) {
  #blog-contents .blog-object-06 {
    width: 28px;
    bottom: 3%;
  }
}
@media (max-width: 460px) {
  #blog-contents .blog-object-06 {
    width: 24px;
  }
}
#blog-contents .article-container {
  width: 100%;
  display: grid;
  gap: 56px;
}
@media (max-width: 768px) {
  #blog-contents .article-container {
    gap: 40px;
  }
}
@media (max-width: 460px) {
  #blog-contents .article-container {
    gap: 32px;
  }
}
#blog-contents .article-container-tab {
  width: 100%;
}
#blog-contents .article-container-tab ul {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 16px;
}
@media (max-width: 460px) {
  #blog-contents .article-container-tab ul {
    gap: 12px;
  }
}
#blog-contents .article-container-tab-item {
  width: 180px;
  text-align: center;
  padding: 8px 16px;
  border-radius: 100px;
  border: 2px solid #00913a;
  color: #00913a;
  font-size: 16px;
  font-weight: 600;
}
@media (max-width: 768px) {
  #blog-contents .article-container-tab-item {
    width: 168px;
    font-size: 14px;
  }
}
@media (max-width: 460px) {
  #blog-contents .article-container-tab-item {
    width: 144px;
    padding: 8px 12px;
    font-size: 12px;
  }
}
#blog-contents .article-container-tab-item.active {
  background-color: #00913a;
  color: #fff;
}
#blog-contents .article-container-contents {
  width: 100%;
}
#blog-contents .article-container-contents ul {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 常に3分割 */
  gap: 32px;
}
@media (max-width: 768px) {
  #blog-contents .article-container-contents ul {
    grid-template-columns: repeat(2, 1fr); /* 常に3分割 */
  }
}
@media (max-width: 460px) {
  #blog-contents .article-container-contents ul {
    gap: 16px;
  }
}
#blog-contents .article-container-contents-item {
  width: 100%;
  padding: 16px;
}
@media (max-width: 460px) {
  #blog-contents .article-container-contents-item {
    padding: 16px 0;
  }
}
#blog-contents .article-container-contents-item-thumbnail {
  width: 100%;
  aspect-ratio: 4/3;
  -o-object-fit: cover;
     object-fit: cover;
}
#blog-contents .article-container-contents-item-thumbnail img {
  width: 100%;
  height: 100%;
}
#blog-contents .article-container-contents-item-text {
  width: 100%;
}
#blog-contents .article-container-contents-item-text-date {
  font-size: 14px;
}
@media (max-width: 768px) {
  #blog-contents .article-container-contents-item-text-date {
    font-size: 13px;
  }
}
@media (max-width: 460px) {
  #blog-contents .article-container-contents-item-text-date {
    font-size: 12px;
  }
}
#blog-contents .article-container-contents-item-text-title {
  color: #00913a;
  margin-bottom: 16px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1; /* 行数を指定 */
}
@media (max-width: 460px) {
  #blog-contents .article-container-contents-item-text-title {
    margin-bottom: 12px;
  }
}
#blog-contents .article-container-contents-item-text-desc {
  font-size: 16px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3; /* 行数を指定 */
}
@media (max-width: 768px) {
  #blog-contents .article-container-contents-item-text-desc {
    font-size: 14px;
  }
}
@media (max-width: 460px) {
  #blog-contents .article-container-contents-item-text-desc {
    font-size: 12px;
  }
}
#blog-contents .article-container-pagination {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}
@media (max-width: 768px) {
  #blog-contents .article-container-pagination {
    margin-top: 32px;
  }
}
@media (max-width: 460px) {
  #blog-contents .article-container-pagination {
    margin-top: 28px;
  }
}
#blog-contents .article-container-pagination .page-numbers {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #00913a;
  width: 40px;
  height: 40px;
  border-radius: 100px;
  border: 1px solid #00913a;
}
@media (max-width: 768px) {
  #blog-contents .article-container-pagination .page-numbers {
    width: 32px;
    height: 32px;
    font-size: 14px;
  }
}
@media (max-width: 460px) {
  #blog-contents .article-container-pagination .page-numbers {
    width: 24px;
    height: 24px;
    font-size: 12px;
  }
}
#blog-contents .article-container-pagination .page-numbers.current {
  color: #fff;
  background-color: #00913a;
}
#blog-contents .article-container-pagination .page-numbers.prev {
  width: -moz-fit-content;
  width: fit-content;
  border: none;
  font-weight: 500;
  gap: 8px;
  margin-right: 32px;
}
@media (max-width: 768px) {
  #blog-contents .article-container-pagination .page-numbers.prev {
    margin-right: 24px;
  }
}
@media (max-width: 460px) {
  #blog-contents .article-container-pagination .page-numbers.prev {
    margin-right: 20px;
  }
}
#blog-contents .article-container-pagination .page-numbers.prev img {
  width: 8px;
}
#blog-contents .article-container-pagination .page-numbers.next {
  width: -moz-fit-content;
  width: fit-content;
  border: none;
  font-weight: 500;
  gap: 8px;
  margin-left: 32px;
}
@media (max-width: 768px) {
  #blog-contents .article-container-pagination .page-numbers.next {
    margin-left: 24px;
  }
}
@media (max-width: 460px) {
  #blog-contents .article-container-pagination .page-numbers.next {
    margin-left: 20px;
  }
}
#blog-contents .article-container-pagination .page-numbers.next img {
  width: 8px;
}

#voice-blog.display-none {
  display: none;
}/*# sourceMappingURL=blog.css.map */