@use "variable" as *;

.contact-form-title {
  color: $main-color;
  text-align: center;
  margin-bottom: 32px;
}

/* ***************************************************************** 
*	下層ページ 説明セクション
* ***************************************************************** */
.phone {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  margin-top: 32px;
  &-icon {
    width: 56px;
    @include max(md) {
      width: 48px;
    }
    @include max(sm) {
      width: 40px;
    }
  }
  &-text {
    display: flex;
    flex-direction: column;
    &-businessHour {
      font-size: $font-size-p03;
      @include max(md) {
        font-size: $font-size-p03-tab;
      }
      @include max(sm) {
        font-size: $font-size-p03-sp;
      }
    }
    &-number {
      color: $main-color;
      font-size: 32px;
      font-weight: $font-weight-bold;
      @include max(md) {
        font-size: 28px;
      }
      @include max(sm) {
        font-size: 24px;
      }
    }
  }
}

/* ***************************************************************** 
*	お問い合わせフォーム
* ***************************************************************** */
#contact-form {
  & .contact-form {
    width: 80%;
    max-width: 680px;
    margin: 0 auto;
    padding: 56px;
    border: 2px solid $main-color;
    border-radius: 8px;
    @include max(md) {
      width: 90%;
      padding: 40px;
    }
    @include max(sm) {
      width: 100%;
      padding: 32px;
    }
    & .label {
      margin-bottom: 8px;
      font-size: $font-size-p03;
      @include max(md) {
        font-size: $font-size-p03-tab;
      }
      @include max(sm) {
        font-size: $font-size-p03-sp;
      }
    }
    & .label-req {
      display: flex;
      align-items: center;
      gap: 8px;
      & .required {
        background-color: $main-color;
        color: $color-white;
        border-radius: 4px;
        font-weight: $font-weight-regular;
        padding: 4px 8px;
        font-size: 12px;
        @include max(sm) {
          font-size: 10px;
        }
      }
    } 
    & .field {
      padding: 8px 16px;
      border-radius: 4px;
      border: 1px solid $main-color;
      margin-bottom: 24px;
      font-size: $font-size-p02;
      @include max(md) {
        font-size: $font-size-p02-tab;
      }
      @include max(sm) {
        font-size: $font-size-p02-sp;
      }
    }
    & .text-area {
      height: 120px;
    }
    & .submit-container {
      text-align: center;
      &-btn {
        background-color: $main-color;
        color: $color-white;
        border-radius: 100px;
        padding: 12px 16px;
        width: 320px;
        font-size: $font-size-p02;
        font-weight: $font-weight-medium;
        @include max(md) {
          width: 280px;
          font-size: $font-size-p02-tab;
        }
        @include max(sm) {
          width: 240px;
          font-size: $font-size-p02-sp;
        }
      }
    }
  }
}

input, textarea {
  width: 100%;
  height: 100%;
}

#voice-blog {
  display: none;
}