@use "variable" as *;

/* ***************************************************************** 
*	下層ページ 説明セクション
* ***************************************************************** */
#subpage-explanation {
  & .obj__inner {
    & .obj-right {
      position: absolute;
      top: 0%;
      right: -14%;
      width: 280px;
    }
    & .obj-left {
      position: absolute;
      top: 0%;
      left: -14%;
      width: 240px;
    }
  }
}

/* ***************************************************************** 
*	下層ページ 説明セクション
* ***************************************************************** */
#voice {
  margin-bottom: 104px;
  & .voice-container {
    & ul {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 40px;
      & .voice-item {
        width: calc(100% / 2 - 40px);
        height:auto;
        display:flex;/* 高さを揃えるための指定 */
        padding: 40px 40px 0;
        gap: 24px;
        border: 2.5px solid $main-color;
        &-contents {
          width: calc(100% - 104px);
          padding-bottom: 40px;
          display: grid;
          gap: 16px;
          &-title {
            color: $main-color;
          }
          &-text {
            font-size: $font-size-p03;
          }
          &-user {
            font-size: 14px;
          }
        }
        &-icon {
          width: 104px;
          align-self: flex-end;
          margin-bottom: -2px;
        }
      }
    }
  }
}